*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', sans-serif;
}

.navbar{
    height:72px;
    background:#00050d;
    display:flex;
    align-items:center;
    justify-content:space-between;
    position:fixed;
    width:100%;
    padding:0 60px;
}


.logo{
    color:white;
    font-size:18px;
    font-weight:700;
   
}



.nav-links{
    display:flex;
    align-items:center;
    gap:32px;
    list-style:none;
}

.nav-links li{
    color:white;
    font-size:17px;
    font-weight:600;
    cursor:pointer;
}

.nav-links li:hover{
    color:#1a98ff;
}

.divider{
    width:1px;
    height:28px;
    background:#3b3b3b;
}


.right-nav{
    display:flex;
    align-items:center;
    gap:22px;
    color:white;
}

.right-nav i{
    font-size:20px;
}

.language{
    display:flex;
    align-items:center;
    gap:6px;
    font-size:17px;
    font-weight:600;
}

.profile{
    width:38px;
    height:38px;
    border-radius:50%;
    background:#6b7280;

    display:flex;
    justify-content:center;
    align-items:center;
}

.profile i{
    font-size:18px;
}

.join-btn{
    background:#1a98ff;
    color:white;
    border:none;

    padding:12px 22px;
    border-radius:8px;

    font-size:17px;
    font-weight:600;

    cursor:pointer;
}

.join-btn:hover{
    background:#33a6ff;
}
.card1{
    height:100vh;
    display:flex;
background:#00050d;
background-image:url('p1.jpg');
background-size:cover;
background-position:right;
}

.card1-left{
    width:45%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding-left:80px;
    background:#000;
}

.card1-left_h1{
    font-size:70px;
    font-weight:700;
    color:white;
    margin-bottom:35px;
}

.card1-left_p{
    font-size:24px;
    color:white;
    max-width:650px;
    margin-bottom:50px;
}

.card1-btn{
    width:270px;
    height:75px;

    border:none;
    border-radius:10px;

    background:white;
    color:#111;

    font-size:22px;
    font-weight:600;
}

.card1-btn:hover{
    background:#e5e5e5;
}
.card2{
    height:100vh;
    display:flex;
    background:#00050d;
    background-image:url('p2.jpg');
    background-size:cover;
    background-position:left;
}
.subscriptions{
    padding:80px;
    display:flex;
    gap:50px;
    background-color:#020917;
    color:white;
}

.sub-left{
    width:50%;
}

.sub-left h1{
    font-size:65px;
    margin-bottom:30px;
}

.sub-left p{
    font-size:24px;
    max-width:600px;}

.sub-right{
    width:50%;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
}
.subscription-card{
    height:160px;
    background:linear-gradient(
    to right,
    #4FA6D9,
    #173B7A
    );
    border-radius:15px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:30px;
    font-weight:bold;
    color:white;
}
.footer{
    background-color:#6b7280;
    text-align:center;
    padding:20px;
}
.footer img{
    width:120px;
    margin-bottom:10px;
}
.footer-links{
    display:flex;
    justify-content:center;
    gap:30px;
    margin-bottom:10px;
}
.footer-links a{
    text-decoration:none;
    color:#173B7A;
    font-size:20px;
    gap:10px;
    font-weight:bold;
}
.footer p{
    color:white;
    font-size:17px;
}